<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NCC A/B/C Certificate Exam Admit Card</title>
  <style>
    @page {
      size: A4;
      margin: 20px;
    }

    body {
      font-family: Arial, sans-serif;
      font-size: 12px;
      line-height: 1.5;
    }

    h1 {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      padding: 5px 10px;
      border: 1px solid #ddd;
    }

    .center {
      text-align: center;
    }

    .right {
      text-align: right;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .date-box {
      display: inline-block;
      border: 1px solid #ddd;
      padding: 3px;
      margin: 0 5px;
      text-align: center;
      width: 30px; /* Adjust width as needed */
    }

    .two-column:after {
      content: "";
      display: table;
      clear: both;
    }

    .left-column {
      width: 60%; /* Adjust width as needed */
      float: left;
    }

    .right-column {
      width: 30%; /* Adjust width as needed */
      float: right;
    }

    .custom-table {
      width: 100%;
    }

    .custom-table th, .custom-table td {
      padding: 5px 10px;
      border: 1px solid #ddd;
    }

    .custom-table .center {
      text-align: center;
    }

    .custom-table .date-box {
      border: 1px solid #ddd;
      padding: 3px;
      margin: 0 5px;
      text-align: center;
      width: 30px;
    }
  </style>
</head>
<body>
  <h1>Appendix AC (Refers to Para 30 of SNCCO 2024)</h1>
  <h1>ADMIT CARD: NCC A/B/C CERTIFICATE EXAM</h1>

  <div class="two-column">
    <div class="left-column">
      <table border="0" style="width: 100%;">
        <tr>
          <td style="width: 100%;">1. Unit :</td>
          <td style="width: 30%;">______________________________________________________________________________________</td>
        </tr>
        <tr>
          <td>2. (Attach extension paper, if applicable):</td>
          <td>______________________________________________________________________________________</td>
        </tr>
        <tr>
          <td>3. Regimental No:</td>
          <td>______________________________________________________________________________________</td>
        </tr>
        <tr>
          <td>4. Rank:</td>
          <td>______________________________________________________________________________________</td>
        </tr>
        <tr>
          <td>5. Name in English (Capital letters):</td>
          <td>______________________________________________________________________________________</td>
        </tr>
      </table>
    </div>

    <div class="right-column">
      <center>
      <%= image_tag wicked_pdf_asset_base64("admit_card_image.png"), style: "height: 300px;"%>
      </center>
    </div>
  </div>


<table border="0">
    <tr>
      <td>6. Date of Birth:</td>
      <td>
        <span class="date-box">d</span>
        <span class="date-box">d</span>
        <span class="date-box" style="border:0px;"></span>
        <span class="date-box">m</span>
        <span class="date-box">m</span>
        <span class="date-box" style="border:0px;"></span>
        <span class="date-box">y</span>
        <span class="date-box">y</span>
        <span class="date-box">y</span>
        <span class="date-box">y</span>
      </td>
    </tr>
    <tr>
      <td>7. Father's Name:        (As per High School Certificate):</td>
      <td>______________________________________________________________________________________</td>
    </tr>
    <tr>
      <td>8. School/College & Class in which studying:</td>
      <td>______________________________________________________________________________________</td>
    </tr>
    <tr>
      <td>9. Year of passing Cert B if applicable: <br> (Attach photocopy of B Certificate) </td>
      <td>______________________________________________________________________________________</td>
    </tr>
    <tr>
      <td>10. Whether Fresh/Failure: <br> (If Failure, details of previous B Certificate exam) </td>
      <td>______________________________________________________________________________________</td>
    </tr>
    <table class="custom-table">
    <tr>
      <td colspan="2">11. Attendance in parade</td>
      <td class="center" style="width: 20%;">1st Yr</td>
      <td class="center" style="width: 20%;">2nd Yr</td>
      <td class="center" style="width: 20%;">3rd Yr</td>
      <td class="center" style="width: 20%;">Total</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>
          <span class="date-box">x</span>
          <span class="date-box">x</span>
          <span class="date-box">%</span>
      </td>
      <td>
          <span class="date-box">x</span>
          <span class="date-box">x</span>
          <span class="date-box">%</span>
      </td>
      <td>
          <span class="date-box">x</span>
          <span class="date-box">x</span>
          <span class="date-box">%</span>
      </td>
      <td>
          <span class="date-box">x</span>
          <span class="date-box">x</span>
          <span class="date-box">%</span>
      </td>
    </tr>
  </table>

  <table class="custom-table">
    <tr>
      <td colspan="2">12. Detail or camps attended (Attach photocopy of camp No/Name of camp Attended Date/Month/Yr Location (a) (b)</td>
      <td style="width: 20%;">Camp Details 1</td>
      <td style="width: 20%;">Name</td>
      <td style="width: 20%;">Date</td>
      <td style="width: 20%;">Location</td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td>Camp Details 2</td>
      <td>Name</td>
      <td>Date</td>
      <td>Location</td>
    </tr>
  </table>
  <table border="0">
    <tr>
      <td>13. Home/Institution Address for postal dispatch of Certificate:</td>
      <td>______________________________________________________________________________________</td>
    </tr>
  </table>

<hr>

<h2><b>Note :</b></h2>
<p size="20px">1. Cadets must check particulars carefully and correction if any, be brought to the notice of OC immediately <br>
2. This card will be submitted along with nominal roll for approval of Gp HQ after the attestation of photo by OC and
signatures of all concerned. <br>
3. Cadet must be in possession of this card on the day of the exam. <br></p>

<table>
  <tr>
    <td class="center">Signature of Cadet</td>
    <td class="center">Signature of ANO</td>
    <td class="center">Signature of OC</td>
  </tr>
  <tr>
    <td class="center">_____________________</td>
    <td class="center">_____________________</td>
    <td class="center">_____________________</td>
  </tr>
  <tr>
    <td class="center">(Name)</td>
    <td class="center">(Name & Stamp)</td>
    <td class="center">(Name & Stamp)</td>
  </tr>
</table>

<br>

<h1><u>Approved/ Not Approved</u></h1>
